<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow navbar-dashboard">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 navbar-brand-dashboard" href="#">
        <img src="./images/logo 1.png" alt="logo">
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <p class="w-100 text-white fs-6 my-0 px-3">Hi, Username</p>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/">Sign out</a>
        </li>
    </ul>
</header>