<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="style-dashboard.css">
    <title>Create Room</title>
</head>

<body>

    <%- include('../partials/header-dashboard') %>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/user-dashboard">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user-profile">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/create-room">
                                Create Room
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/join-room">
                                Join Room
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2 class="dashboard-title">Create Room</h2>
                </div>

                <form>
                    <div class="form-group">
                        <label for="inputRoomName">Room Name</label>
                        <input type="text" class="form-control mt-2" id="inputRoomName" placeholder="Enter room name">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="hideRoomCheck">
                        <label class="form-check-label" for="hideRoomCheck">Hide this room for strangers</label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Create Room</button>
                </form>
            </main>
        </div>
    </div>


    <%- include('../partials/footer-dashboard') %>

</body>

</html>